<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Flashcards</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


  </head>


  <body>



    <nav class="navbar  mynav" role="navigation" id="navbar">
    			<div class="container">

            <a class="navbar-brand mynav" href="{% url 'home' %}">Flashcards</a>

            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}

                    <!-- Logout -->
                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="{% url 'accounts:logout' %}" class="btn btn-simple">Log out</a></li>
                    </ul>

                    {% if project %}

                        <!-- Settings -->
                        <ul class="nav navbar-nav navbar-right">
                              <li><a href="{% url 'edit_settings' %}" class="btn btn-simple">Settings</a></li>
                        </ul>


                      <!-- Upload File -->
                      <ul class="nav navbar-nav navbar-right">
                              <li><a href="{% url 'upload:upload_txt_file' %}" class="btn btn-simple">Upload text file</a></li>
                      </ul>


                        <!-- Work With Text ---------------------------->
                        <ul class="nav navbar-nav navbar-right">
                          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Work with text <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                              <li><a href="{% url 'text:work_with_text' file_name='' %}" >New file</a></li>
                              <li role="separator" class="divider"></li>

                            {% for file in txt_files %}
                              <li><a href="{% url 'text:work_with_text' file_name=file.file_name %}"  >
                                {{ file.file_name }}
                              </a></li>
                            {% endfor %}
                            </ul>
                          </li>
                        </ul>

                        <!-- Floating Window ---------------------------->
                        <ul class="nav navbar-nav navbar-right">
                          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Floating Window <span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu">

                              {% if not_at_end %}
                                <li>
                                  <li><a class="btn btn-simple" disabled>
                                    {{ session_state }}
                                </li>
                              {% else %}
                                <li>
                                  <li><a class="btn btn-simple" disabled>
                                    Done
                                </li>
                              {% endif %}

                              <li role="separator" class="divider"></li>

                              {% if is_there_new %}
                                <li><a href="{% url 'fcards:start_session_intervalled' start=new_start size=new_size %}" class="btn btn-simple">
                                    {{ new_lesson }} ({{ new_size }})</a>
                                </li>
                              {% else %}
                                <li><a class="btn btn-simple" disabled>
                                    New Words </a>
                                </li>
                              {% endif %}

                              {% if is_there_prev %}
                                <li><a href="{% url 'fcards:start_session_intervalled' start=prev_start size=prev_size %}" class="btn btn-simple">
                                    Prev Lesson ({{ prev_size }})</a>
                                </li>
                              {% else %}
                                <li><a href="" class="btn btn-simple" disabled>
                                    Prev Lesson </a>
                                </li>
                              {% endif %}

                              {% if is_there_window %}
                                <li><a href="{% url 'fcards:start_session_intervalled' start=window_start size=window_size %}" class="btn btn-simple">
                                    Review Window ({{ window_size }}) </a>
                                </li>
                              {% else %}
                                <li><a class="btn btn-simple" disabled>
                                    Review Window </a>
                                </li>
                              {% endif  %}

                              <li role="separator" class="divider"></li>

                              {% if not_at_end %}
                                <li><a href="{% url 'fw_move_forward' %}" class="btn btn-simple">
                                    Shift Forward </a>
                                </li>
                              {% else %}
                                <li><a class="btn btn-simple" disabled >
                                    Shift Forward </a>
                                </li>
                              {% endif %}

                              {% if not_at_start %}
                                <li><a href="{% url 'fw_move_back' %}" class="btn btn-simple">
                                    Shift Back </a>
                                </li>
                              {% else %}
                                <li><a class="btn btn-simple" disabled>
                                    Shift Back </a>
                                </li>
                              {% endif %}

                              <li role="separator" class="divider"></li>

                              <li><a href="{% url 'fw_move_to_start' %}" class="btn btn-simple">
                                  Go to Start </a>
                              </li>

                            </ul>
                          </li>
                        </ul>

                        <!-- Start Flashcards Session ------------------>
                        {% if entry_count > 0  %}
                          <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Start Flashcards session <span class="caret"></span>
                              </a>
                              <ul class="dropdown-menu">
                                  <li><a href="{% url 'fcards:start_session_all' %}" class="btn btn-simple">
                                      Whole vocabulary ({{ entry_count }})</a>
                                  </li>
                                  <li role="separator" class="divider"></li>

                                    {% if date_count > 0 %}
                                        <li><a href="{% url 'fcards:start_session_dated' date=latest_date %}" class="btn btn-simple">
                                            Current: {{ latest_date }} ({{ latest_date_ecount }}) </a>
                                        </li>
                                    {% endif %}

                                    {% if date_count > 1 %}
                                        <li><a href="{% url 'fcards:start_session_dated' date=prev_date %}" class="btn btn-simple">
                                          Previous: {{ prev_date }} ({{ prev_date_ecount }}) </a>
                                        </li>
                                    {% endif %}

                                    {% if date_count > 2 %}
                                        <li role="separator" class="divider"></li>

                                        <li><a href="{% url 'fcards:start_session_randold' %}" class="btn btn-simple">
                                            Random older entries (20) </a></li>
                                        <li role="separator" class="divider"></li>
                                        {% for dd in date_list %}
                                            <li><a href="{% url 'fcards:start_session_dated' date=dd %}" class="btn btn-simple">
                                                {{ dd }} </a>
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                              </ul>
                           </li>
                        </ul>
                      {% endif %} <!-- if entry_count > 0   -->
                    {% endif %}  <!-- if project -->

                    <!-- Project ---------------------------->
                    <ul class="nav navbar-nav navbar-right">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Project <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a href="{% url 'new_project' %}" >New project</a></li>
                          <li role="separator" class="divider"></li>

                        {% for proj in projects %}
                          <li><a href="{% url 'select_project' name=proj.name %}" >
                            {{ proj.name }}
                          </a</li>
                        {% endfor %}
                        </ul>
                      </li>
                    </ul>


                {% else %} <!-- if user.is_authenticated -->
                      <li><a href="{% url 'accounts:login' %}" class="btn btn-simple">Log in</a></li>
                      <li><a href="{% url 'accounts:signup' %}" class="btn btn-simple">Sign up</a></li>
                {% endif %}
              </ul>
    			</div>
    		</nav>
       <!-- End of Navigation Bar -->

        <div class="container mycontent">
          {% block content %}

          {% endblock %}

          {% if user.is_authenticated %}
            {% if project %}
                <h3>
                    Current Flashcards mode:
                    <a href="{% url 'toggle_mode' %}" class="btn btn-primary btn-lg">
                        {{ stt_session_mode }}
                    </a>
                    &lt;&lt;&lt;    click to toggle
               </h3>

            {% endif %}
          {% endif %}
   </div>




        <script
         src="https://code.jquery.com/jquery-3.1.1.js"
         integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
         crossorigin="anonymous"></script>  <!-- Latest compiled and minified JavaScript -->
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



  </body>
</html>
