<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Flashcards</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


  </head>

  <body>
    <div class="container mycontent">

      <div class="jumbodtron">
        <div class="container">
          <form method="POST">
              {{form.as_p}}
              {% csrf_token %}
              <p>
              <a latent_href="{% url 'delete_project' %}"
                 ID='delete_project_btn'
                 class="btn btn-danger"
                 disabled>
                   Delete project
              </a>
              </p>
              <p>
              <label for='enable_delete_chkbox'>Enable Delete button</label>
              <input type='checkbox'
                     ID='enable_delete_chkbox'
                     onclick="enable_delete_project()" />
              </p>

             <p>
             --------
             </p>
              <input type="submit" class="btn btn-primary" value="Submit">
              <a href="{% url 'home' %}" class="btn btn-primary">Cancel</a>

          </form>
        </div>
      </div>

    </div>

    <script>


        function enable_delete_project ()
        {
            var DeleteButton = document.getElementById ('delete_project_btn');
            var Checkbox = document.getElementById ('enable_delete_chkbox');
          //  alert("latent_href = " + DeleteButton.getAttribute ('latent_href'))

            if (Checkbox.checked) {
              DeleteButton.removeAttribute ('disabled');
              DeleteButton.setAttribute ('href', DeleteButton.getAttribute ('latent_href'));

            } else {

              DeleteButton.setAttribute ('disabled', true);
              DeleteButton.removeAttribute ('href');
            }

        }




     </script>


  </body>
</html>
