{% extends "fcards_base.html" %}
{% block content %}

<div class="jumbodtron">

  <p>Words yet to process (including this one): {{ session_size }}</p>
  <p>Required hit number for this word:         {{ rhn }}</p>
  
  <div class="row">
    <div class="col-md-9">

      <h2> {{ answer|safe }} </h2>
      <h2> {{ context|safe }} </h2>
    </div>
    <div class="col-md-3">
      <h1>
        <p>
          <a href="{% url 'fcards:approve_btn_on_click' %}" class="btn btn-success">Success</a>
          <a href="{% url 'fcards:dont_approve_btn_on_click' %}" class="btn btn-primary">Ask me again later</a></p>
      </h1>
      <h3><a href="{% url 'fcards:edit_btn_on_click' %}">Edit entry</a></h3>
    </div>
</div>


{% endblock %}
