<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Flashcards</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


  </head>


  <body>

<div class="container mycontent">

<div class="jumbodtron">

  <h2>Results:</h2>

  <h2> {{ kills }} </h2>
  <h2> {{ clean_kills }} </h2>
  {% if congrats %}
     <h2> {{ congrats }} </h2>
  {% endif %}

  {% if yet_to_process %}
    <h2> {{ yet_to_process }} </h2>
    <h2> {{ yet_untouched }} </h2>
  {% endif %}


      </div>

      <br>
      {% if not congrats %}
        <a href="{% url 'fcards:funnel' %}" class="btn btn-primary">Funnel</a>
      {% endif %}
      {% if yet_to_process %}
        <a href="{% url 'fcards:resume_session' %}" class="btn btn-primary">Resume session</a>
      {% endif %}
      <a href="{% url 'fcards:restart_session' %}" class="btn btn-primary">Redo same session in {{ other_fc_mode }} mode</a>

      <h1>
        <a href="{% url 'home' %}" class="btn btn-primary"> Done </a>
      </h1>
</div>

  </body>
</html>
